body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #5c5c5c;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 5px solid black;
    border-radius: 5px;
}

article {
    margin-bottom: 20px;
}

article h2 {
    font-size: 1.5rem;
    color: #007BFF;
}

article p {
    margin-bottom: 10px;
}

.read-more {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
}

.read-more:hover {
    color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 3rem;
}

.hidden {
    display: none;
}
.box{
    margin-bottom: 15rem;
}